@use "../utils/_colors" as colors; 
@use "../utils/_fonts" as fonts; 

button{
  border: none; 
  padding: 6px 12px;
  border-radius: 24px; 
  display: block;
  transition: all 0.5s linear ;
}

.button-dark {
  background-color: colors.$secondary;
  color: colors.$primary;
  &:hover{ 
    background-color:  darken(colors.$secondary, 5);
    
  }
}

.button-ligth{
  background-color: colors.$primary;
  color: colors.$secondary;
  &:hover{
    background-color:  darken(colors.$primary, 5s);
    
  }
}